.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../images/backgraung.png");
    background-size: 100% 100%;
    background-repeat: no-repeat ;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    text-decoration: none;
}
.header {
    display: flex;
    height: 58px; 
    align-items: center;  
    background-color: rgba(0, 0, 0, 0.4);
}
.header-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 830px;
    width: 100%;
}
.header-logo {
    color:#fff;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
}

.header-menu {
    display: flex;
    align-items: center; 
}
.menu-item {
    text-decoration: none;
    list-style-type: none;
}
.menu-item:first-child {
    margin-right: 27px;
}
.menu-item:nth-child(2) {
    margin-right: 24px;
}
.menu-item:nth-child(3) {
    margin-right: 25px;
}
.menu-item:nth-child(4) {
    margin-right: 27px;
}
.menu-item-border {
    height: 19px;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
}
.green-hover-svg {
    text-decoration: none;
}
.link-item {
    color: #fff;
    text-decoration: none;
}
.green-hover:hover {
    cursor: pointer;
    color: #3CB878;
}
.header-logo {
    transition: color .3s linear;
}
.link-item {
    transition: color .3s linear;
}
.menu-item .green-hover-svg  {
    transition: fill .3s linear;
}
.menu-item:hover .green-hover-svg,
.link-item:hover {
    cursor: pointer;
    color: #3CB878;
    fill: #3CB878;
}
.modal-container {
    position: absolute;
    top: calc(50% - 292px);
    left: calc(50% - 222px);
    max-width: 444px;
    width: 100%;
    max-height: 584px;
    color: #434343;
}
.modal-square {
    position: absolute;
    top: 29px;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}
.modal-sup-container {
    padding: 31px 60px 38px 60px;
    background-color: #fff;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}
.modal-top {
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
}
.modal-top-item {
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition: color .2s linear;
}
.modal-top-item:hover {
    color: #01813F;
    text-decoration: underline;
}
.modal-top-header {
    font-size: 20px;
    line-height: 14px;
    color: #434343;
}
.modal-btn-container {
    display: flex;
    justify-content: space-between;
}
.btn-item {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 160px;
    height: 48px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color .2s linear;
}
.btn-item-google {
    background-color: #DF4A32;
}
.btn-item-google:hover {
    cursor: pointer;
    background-color: #AB1F09;
    
}
.btn-item-facebook {
    background-color: #305DB8;;
}
.btn-item-facebook:hover {
    cursor: pointer;
    background-color: #022263;
}

.btn-logo-f {
    padding-left: 16px;
    padding-right: 19px;
}
.btn-logo-g {
    padding-left: 12px;
    padding-right: 7px;
}
.line {
    border-left: 1px solid #0A162F;
    height: 28px;
    opacity: 0.1;
}
.f-line {
    padding-right: 18px;
}
.g-line {
    padding-right: 30px;
}

.separator-line {
    background-color: #F2F2F2;
    height: 1px;
    border: none;
}
.separator-container {
    padding-top: 31px;
    padding-bottom: 17px;
    position: relative;
}
.separator-text {
    padding-left: 5px;
    padding-right: 2px;
    position: absolute;
    bottom: 20px;
    left: 152px;
    background-color: #ffffff;
    color: #848484;
}
.modal-separator:before {
    content: "";
    border-bottom: 1px solid black;
    margin-right: 10px
}
.modal-register {
    display: flex;
    flex-direction: column;
}
.modal-input-container {
    display: flex;
    flex-direction: column;
}



input::placeholder {
    color: #BEBEBE;
}
input[type="text"],
input[type="email"],
input[type="password"]{
    padding-left: 20px;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
.focus-item {
    margin-bottom: 15px;
    height: 46px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.focus-item:nth-child(5) {
    margin-bottom: 12px;
}

.focus-item:focus {
    outline: none;
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.terms {
    height: 20px;
    width: fit-content;
    font-size: 14px;
    line-height: 14px;
}
.terms-link {
    padding-bottom: 2px;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition: border-bottom-color, color .4s linear;
}
.terms-link:hover {

    display: inline-block;
    color: #01813F;
    border-bottom: 2px solid ;
    border-bottom-color: #01813F;
}
.checkbox {
    margin-right: 8px;
    line-height: 20px;
    vertical-align: middle;
}
.submit {
    padding: 16px 0;
    margin-top: 20px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    transition: background-color .4s linear;
}
.submit:hover {
    cursor: pointer;
    background-color: #01813F;
}
.submit:focus {
    outline: none;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
input[type="checkbox"]:checked + label:after{
    filter: grayscale(1);
    width: 20px;
    height: 20px;
    border: 2px solid #3CB878;
    background-color: black;
}