
body {
    font-family: sans-serif;
    width: 1280px;
    margin: 0 auto;
}
.logo-menu {
    font-size: 80px;
    color: rgb(75, 202, 255);
    text-decoration: none;
    margin: 40px 0px;
    
}
.logo-menu:hover {
    color: rgb(75, 202, 255);
    /* color: rgb:75 202 255; */
    text-decoration: underline;
}
.logo-menu span {
    color: #000000;
}
.header-menu {
    display: flex;
  justify-content: center;
  background:#35444F;
  margin: 50px 0px;
}
.header-menu li { 
    border-left:2px solid #FFFFFF;
    padding: 24px;
}
.header-menu li a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}
.header-menu-hover:hover {
    background-color: #222F3A;
}
.container {
    display: flex;
    justify-content: space-between;
}
.aside-menu-items  {
    border: 1px solid #000000;
    list-style-type: none;
    align-self: flex-start;
}
.aside-menu-items li {
    padding: 25px 90px 25px 45px;
}
.aside-menu-items li a {
    color: #495863;
    font-size: 27px;
    text-decoration: none;
}
.aside-menu-items-hover:hover {
    background-color:#DBDBDB;
    font-weight: bold;
}
.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    width: 885px;
    height: 530px;
    transition: all 1s ease-out;
}
.hero-img img:hover{
    transform: scale(1.1);
} 
.text-ru, .text-en {
    width: 885px;
margin-top: 32px;
}
.text-en {
margin-bottom: 54px;
}
.footer {
    display: flex;
    box-sizing: border-box;
}
.footer-menu-hover a:hover {
    color: rgb(75, 202, 255);
    text-decoration: underline;
}
.footer-menu li a{
    color: #010101;
    font-size: 28px;
    text-decoration: none;
}
.footer-menu {
    list-style-type: none;
    display: flex;
}
.footer-menu li:not(:first-child) {
    padding: 0 10px;
}
.footer {
    background: #63696E;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
.footer-text {
    color: #010101;
    font-size: 24px;
}
