body {
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
.container {
    width: 1900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;

}
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 70px;
    background: #313131;
    padding: 0;
    margin-bottom: 0;
}
.header-menu-logo-container {
    margin-left: 29px;
    display: flex;
}
.header-menu-logo-img {
    margin-right: 27px;
    width: 27px;
    height: 27px;
}
.header-menu-logo-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
}
.heder-menu-item {
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    margin-right: 35px;
}
.header-menu-search {
    padding: 27px 27px 23px 26px;
    background-color: #000000;
}
.header-menu-search-img {
    width: 17px;
    height: 17px;
}
.header-background {
    height: 368px;
    background-image: url("../imeges/header-begraund.png");
    background-repeat: no-repeat;
}
.header-background-text {
    padding-top: 168px;
    margin-top: 0;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    color: #ffffff;
}
.header-background-btn-container {  
    display:flex;
    justify-content: center;
}

.header-background-btn {
    width: 170px;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    padding-top: 16px;
}
.header-background-btn-Subscribe {
    background-color: #89CA62;
}
.header-background-btn-Articles {
    background-color: #14B9D5;
    margin-left: 20px;px
}
.Most-popular-posts {
    width: 1170px;
    margin: 0 auto 0 auto;
}
.container-title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    padding-top: 49px;
    padding-bottom: 52px;
    margin: 0;
}
.Most-popular-posts-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    height: 1000px;
    list-style: none;
}
.Most-popular-posts-item {
    margin: 30px;
}
.Most-popular-posts-img-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin-top: 20px;
    margin-bottom: 22px;
}
.our-most-popular-clients {
    background-image: url(../imeges/our\ most\ popular\ clients\ begraund.png);
    background-repeat: no-repeat;
    height: 588px;
}
.clients-title::after {
    content: "";
   display: block;
   margin: 87px auto 0;
   height: 3px;
   width: 60px;
   background: #18B4CF;
   border: none;
   }
.clients-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    padding-top: 106px;
}
.clienrs-brands {
    display: flex;
    justify-content: center;
    margin-bottom: 203px;
}
.clienrs-brands-logo {
    margin: 58px;
}
.Top-rated-item {
    display: flex;
    justify-content: start;
}
.hot-news-container {
    display: grid;
    grid-template: repeat(4, auto) / repeat(4, 277px);
    justify-content: center;
    grid-gap: 30px;
}
.hot-news-items-position-1{
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template: 259px / 483px 374px;
}
.hot-news-items-position-2 {
    margin-left: -35px;
    display: grid;
    grid-template: 210px / 277px;
}
.hot-news-items-position-3 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.hot-news-items-position-3, .hot-news-items-position-4, .hot-news-items-position-5, .hot-news-items-position-6
{
    display: grid;
    grid-template: 259px 157px / 554px;
}
.hot-news-items-position-5 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.hot-news-items-position-7 {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template: 210px / 277px;
}
.hot-news-items-position-8 {
    margin-left: 9px;
    display: grid;
    grid-template: 259px / 483px 374px;
}
.hot-news-items-position-right {
    padding-right: 0px;
}
.hot-news-text-container {
    background-color: #F9F7F7;
    text-align: right;
    padding-right: 25px;
    padding-left: 14px;
}
.hot-news-caption {
   
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}
.hot-news-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #5B6469;
}
.footer {
    margin-top: 77px;
    background-color: #000;
    color: #fff;
    padding-top: 29px;
    padding-bottom: 30px;
}
.footer-container {
    grid-gap: 560px;
    display: grid;
    justify-content: center;
    grid-template-columns: 512px 103px;
    margin-left: -32px;
}
.footer-copyrights {
    font-size: 13px;
    line-height: 13px;
    color: #fff;
}