a {
  text-decoration: none;
}
.container {
  background-image: url(../images/milan\ background.png);
  width: 1366px;
  height: 768px;

  background-repeat: no-repeat;
  box-sizing: border-box;
}
.menu {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.menu-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 150px;
  height: 47px;
}
.menu-container-logo {
  background-image: url("../images/milan\ logo.png");
  margin-right: 8px;
  background-repeat: no-repeat;
  width: 53px;
  height: 47px;
  margin-top: 51px;
  margin-right: 10px;
}
.menu-container:hover .menu-container-logo {
  background-image: url("../images/milan\ logo1.png");
  width: 53px;
  height: 47px;
  color: #f26522;
}
.menu-container:hover {
  color: #f26522;
}

.menu-container-content-info:hover {
  color: #f26522;
}
.menu-container-text {
  height: 30px;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 51px;
  margin-left: 55px;
}
.menu-container-text-excerpt {
  display: block;
  height: 21px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-left: 55px;
}
.menu-container-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.menu-container-content-info {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  padding-bottom: 20px;
}
.menu-container:hover {
  color: #f26522;
}
.section {
  width: 1300px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-left: 135px;
}
.item {
  margin: 0px 32px 0px 32px;
}
.item-img {
  width: 300px;
  height: 220px;
}
.item-link {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}
.item-hover-container {
  opacity: 0;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: -95px;
  width: 300px;
  height: 55px;
  background-color: #f26522;
  text-decoration: none;
  color: #fff;
  /* z-index: 2; */
}
.item:hover .item-hover-container {
  opacity: 1;
}
.item:hover {
 
  color: #f26522;
}
.item-hover {
  text-align: left;
  padding-left: 16px;
  padding-bottom: 12px;
}
.item-hover-from {
  margin-bottom: 8px;
  display: block;
  font-size: 10px;
  line-height: 10px;
}

.item-hover-price {
  font-size: 20px;
  line-height: 20px;
}
.item-right-side {
  padding-right: 16px;
  padding-bottom: 12px;
}
.item-details {
  padding-right: 5px;
  
}

.footer-copyrights {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  margin-top: 60px;
}
.item-details-arrow {
  margin-left: 16px;
}